/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100vh;
  height: 100svh;
  background-color: #202020;
  color: white;
}
body { margin: 0; font-family: "Helvetica Neue", sans-serif;  }
