.userCardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.userCard {
  width: 400px;
  background-color: #303030;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.userCardHeader {
  width: 400px;
  height: 120px;
  background-color: #FF5700;
}

.userCardHeader img {
  width: 100%;
}

.userCardSnoovatar {
  height: 100px;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  margin-top: -60px;
}

.userCardSnoovatar img {
  height: 100%;
}

.userCard .names {
  display: inline-block;
  margin-left: 1em;
}

.userCardDescription {
  padding: 1em;
}

.userCardMainInfo {
  padding: 0.5em;
}

.userCard .names h2, .userCard .names h3 {
  margin: 0px;
  padding: 0px;
}

.userCard .names h3  {
  color: #9d9d9d;
}

.actions {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
.actions a {
  flex-direction: row-reverse;
  padding-left: 1em
}
.actions a mat-icon {
  margin-right: 0;
  margin-left: 0.25em;
}

.topActions {
  position: absolute;
  top: 0;
  right: 0;
}
