<title>reddit-up</title>

<body class="mat-app-background">
  <p>
    <mat-toolbar color="primary" style="height: 5vh">
      <a href="/" mat-raised-button>reddit-up</a>
      <app-search-component>
      </app-search-component>
    </mat-toolbar>
  </p>
  <div *ngIf="this.router.url === '/'" style="margin: 5em">
    <h1>
      Major updates
    </h1>
    <ul>
      <li>Imgur mp4 support</li>
      <li>RedGIFs support</li>
      <li>Removed duplicate images based on same URLs</li>
      <li>Full update log <a href="/assets/latest-updates.txt" style="color: white">here</a></li>
    </ul>
    <p>Do you have any feedback or want to keep up with any updates? Visit <a href="https://www.reddit.com/r/reddit_up/" mat-flat-button target="_blank" color="primary">/r/reddit_up</a></p>

  </div>
  <section>
    <router-outlet></router-outlet>
  </section>

</body>