<title>reddit-up</title>

<body class="mat-app-background">
    <nav>
      <h1><a [routerLink]="['/']">Reddit<b style="color: #FF5700;font-weight: 700">Up</b></a></h1>
      <app-search-component></app-search-component>
    </nav>
  <div *ngIf="this.router.url === '/'" style="margin: 5em">
    <h1>
      Major updates
    </h1>
    <ul>
      <li>Imgur mp4 support</li>
      <li>RedGIFs support</li>
      <li>Removed duplicate images based on same URLs</li>
      <li>Full update log <a href="/assets/latest-updates.txt" style="color: white">here</a></li>
    </ul>
    <p>Do you have any feedback or want to keep up with any updates? Visit <a href="https://www.reddit.com/r/reddit_up/" mat-flat-button target="_blank" color="primary">/r/reddit_up</a></p>

  </div>
  <section>
    <router-outlet ></router-outlet>
  </section>

</body>
